---
plugin: amazon.aws.aws_ec2
regions:
  - us-east-1
filters:
  tag:Name: clouddevops-jenkins-server
  instance-state-name: running
keyed_groups:
  - key: tags.Name
    prefix: tag
hostnames:
  - ip-address
compose:
  ansible_host: public_ip_address
  ansible_user: "'ec2-user'"
